/* general formatting */

/*  on-page anchors */
.anch {
  position: absolute;
  top: -40px;
}

.take-anch {
  position: absolute;
  top: -60px;
}

/* ================================ */
/* TABLE OF CONTENTS FORMATTING */
/* ================================ */

.TOC {
  padding: 10px;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 100px;
  display: block;
  z-index: 0.95;
  margin: 20px;
  margin-top: 10px;
  background-color: white;
  box-shadow: -3px 0px 10px 0px #1c1c1c, 3px 0px 10px 0px #1c1c1c;
}

.TOC-heading {
  text-align: center;
  padding-right: 50px;
  font-family: Courier New;
  font-weight: 500;
  font-size: 18pt;
}

.TOC-title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14pt;
}

.TOC-list {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 0;
}

.TOC-item {
  margin-bottom: 6px;
  font-size: 14pt;
}

.TOC span {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 14pt;
}

/* ================================ */
/* review FORMATTING */
/* ================================ */

.review {
  position: relative;
  padding: 30px;
  padding-bottom: 160px;
  background-color: white;
  margin: 20px;
  margin-top: 0;
  box-shadow: -3px 0px 10px 0px #1c1c1c, 3px 0px 10px 0px #1c1c1c;
}

.review-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0;
  margin: 0px;
  justify-content: space-between;
}

.review h1,
h1 {
  padding: 0;
  margin: 0;
  font-size: 1.9rem;
  line-height: 1.5rem;
  margin-top: auto;
  margin-bottom: 6px;
  font-weight: lighter;
}

.review h4,
h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.paragraph {
  margin: 0;
  padding: 5px 0px;
  display: flex;
  font-size: 1.21em;
  font-family: serif;
}

.quotation {
  padding: 35px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 1.21em;
  font-family: serif;
}

/* political philosophy only */

.premise-num {
  padding: 0;
  padding-right: 8px;
  margin: 0;
}

.premise-text {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.premise-quotation {
  padding: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  margin-top: -8px;
  margin-bottom: 10px;
}

/* Section - my take */

.myTake-header {
  margin-top: 17px;
  margin-bottom: 11px;
  font-weight: 600;
}

.myTake-link {
  float: right;
  background-color: yellow;
  padding: 10px 15px;
  margin-right: 11px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 2px black;
}

.myTake-link a {
  text-decoration: none;
}

/* russian literature only */

.discussion-text {
  padding: 0;
  margin: 0;
}

.inline-heading {
  padding: 0;
  padding-right: 8px;
  margin: 0;
  min-width: 120px;
}

/* identifier class for a js program */
.incomplete {
  max-height: 500px;
  overflow-y: hidden;
}

/* class used in conjunction with javascript to hide elements */
.covering {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(0,0,0,0.61); */
  z-index: 0.98;
  opacity: 0.95;
  top: 0;
  left: 0;
  padding-top: 0;
  margin: 0;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}

/* text inside covering */
.incomplete-label {
  font-size: 2.4em;
  transform: rotate(348deg) translateX(-30px) translateY(30px);
  font-family: Arial;
  color: #a20;
  text-shadow: 2px 2px 5px 0 black;
}

.majorPoints {
  margin-bottom: 40px;
}

.additionalPoints {
  margin-bottom: 40px;
}

.myTake {
  margin-bottom: 80px;
}

.review-rating {
  color: white;
  padding: 12px;
  margin: 18px -5px;
  padding-left: 20px;
  text-shadow: 1px 1px 2px black;
  opacity: 82%;
  border-radius: 10px;
  min-width: 85%;
  font-weight: 600;
}

.sectionHeader {
  margin-top: 6px;
  padding: 8px 0px;
  font-weight: 600;
}

/* ================================ */
/* MEDIA QUERIES */
/* ================================ */

/* decrease myTake font size as screen shrinks */
@media (max-width: 550px) {
  .myTake-link a {
    font-size: 13px;
  }
}

@media (max-width: 475px) {
  .myTake-link a {
    font-size: 11.6px;
  }
}

@media (max-width: 375px) {
  .myTake-link a {
    font-size: 11.4px;
  }
}

@media (max-width: 450px) {
  /* increase myTake font size when margins change */
  .myTake-link a {
    font-size: 13px;
  }

  /* modifying margins */
  .review {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 160px;
  }

  .review h4,
  h4 {
    padding-left: 10px;
  }

  .review-rating {
    /* height: 20px; */
    color: white;
    padding: 12px;
    margin: 18px 0px;
    padding-left: 20px;
    text-shadow: 1px 1px 2px black;
    opacity: 82%;
    border-radius: 5px;
    min-width: 85%;
    font-weight: 600;
  }

  .TOC {
    padding-left: 20px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    padding-bottom: 100px;
  }
}
