/* general formatting */

a {
  color: #000;
}

.back-to-top {
  padding-right: 30px;
}

/*  on-page anchors */
.anch {
  position: absolute;
  top: -40px;
}

.take-anch {
  position: absolute;
  top: -60px;
}

/* ================================ */
/* TABLE OF CONTENTS FORMATTING */
/* ================================ */

.TOC {
  padding: 10px;
  padding-left: 50px;
  padding-top: 25px;
  height: 500px;
  display: block;
  z-index: 0.95;
  margin: 20px;
  margin-top: 10px;
  /* margin-bottom: 0; */
  background-color: white;
  box-shadow: -3px 0px 10px 0px #1c1c1c, 3px 0px 10px 0px #1c1c1c;
}

.TOC-heading {
  text-align: center;
  padding-right: 50px;
  font-family: Courier New;
  font-weight: 500;
  font-size: 18pt;
}

.TOC-title {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 14pt;
}

.TOC-list {
  list-style-type: lower-alpha;
  margin-top: 5px;
  margin-bottom: 0;
}

.TOC-item {
  margin-bottom: 4px;
  font-size: 14pt;
}

.TOC span {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 14pt;
}

/* ================================ */
/* review FORMATTING */
/* ================================ */

.review,
.minor-review {
  position: relative;
  padding: 30px;
  padding-bottom: 160px;
  background-color: white;
  margin: 20px;
  margin-top: 0;
  box-shadow: -3px 0px 10px 0px #1c1c1c, 3px 0px 10px 0px #1c1c1c;
}

.review-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0;
  margin: 0px;
  justify-content: space-between;
}

.review h1,
.minor-review h1 {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.author {
  margin-top: -10px;
  font-style: italic;
  margin-left: 10px;
}

.first {
  margin-top: 25px;
  margin-top: 10px;
  margin-bottom: 0;
}

.review h4,
.minor-review h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.paragraph {
  margin: 0;
  padding: 5px 10px;
  display: flex;
}

.first-paragraph {
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 5px;
  display: flex;
}

.premise-num {
  padding: 0;
  padding-right: 8px;
  margin: 0;
}

.premise-text {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.premise-quotation {
  padding: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  margin-top: -8px;
  margin-bottom: 10px;
  font-style: italic;
}

.quotation {
  padding: 35px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 0;
  font-style: italic;
}

.myTake-header {
  position: relative;
  justify-content: center;
  background-color: yellow;
}

.myTake-link {
  float: right;
  background-color: yellow;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 2px black;
}

.myTake-link a {
  text-decoration: none;
}

.discussion-text {
  padding: 0;
  margin: 0;
}

.inline-heading {
  padding: 0;
  font-weight: bold;
  padding-right: 8px;
  margin: 0;
}

/* identifier class for a js program */
.incomplete {
  max-height: 500px;
  overflow-y: hidden;
}

/* class used in conjunction with javascript to hide elements */
.covering {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(0,0,0,0.61); */
  z-index: 0.98;
  opacity: 0.95;
  top: 0;
  left: 0;
  padding-top: 0;
  margin: 0;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}

/* text inside covering */
.incomplete-label {
  font-size: 2.4em;
  transform: rotate(348deg) translateX(-30px) translateY(30px);
  font-family: Arial;
  color: #a20;
  text-shadow: 2px 2px 5px 0 black;
}

/* table for influence ----------------------------------- PK 01JUL21 */
table {
  /* width: 100%; */
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-collapse: collapse;
}

th {
  background-color: gray;
  border: 1px solid black;
}

td {
  background-color: white;
  border: 1px solid black;
}

.influence-heading {
  height: 50px;
  width: 140px;
}

.influence-text {
  width: 330px;
  text-align: center;
}

.aboutAuthor {
  /* margin-top: 10px; */
  /* border: 1px solid black; */
  padding: 8px;
  margin-top: 17px;
  margin-bottom: 17px;
}
.briefestSummary {
  padding: 8px;
  /* margin-bottom: 80px; */
}
.majorPoints-header {
  /* margin-bottom: 40px; */
  justify-content: center;
  padding-left: 20px;
  border-radius: 4px;
  margin-bottom: 25px;
}

.majorPoints {
  margin-bottom: 40px;
}

.additionalPoints {
  margin-bottom: 40px;
}

.myTake {
  margin-bottom: 80px;
}

.review-author {
  height: 30px;
}

.review-rating {
  /* height: 20px; */
  color: blanchedalmond;
  padding: 12px;
  margin: 18px -5px;
  padding-left: 20px;
  text-shadow: 1px 1px 2px black;
  opacity: 82%;
  border-radius: 10px;
  min-width: 85%;
  font-weight: 600;
}

.summary-heading {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 35px;
}

.summary-text {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.premise {
  display: flex;
  padding-left: 8px;
}

/* ================================ */
/* MEDIA QUERIES */
/* ================================ */

@media (max-width: 450px) {
  .review,
  .minor-review {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 160px;
  }

  .review h4,
  .minor-review h4 {
    padding-left: 10px;
  }

  .aboutAuthor {
    /* margin-top: 10px; */
    /* border: 1px solid black; */
    margin-bottom: 25px;
    padding: 0;
  }

  .briefestSummary {
    padding: 0px;
    margin-bottom: 80px;
  }

  .review-rating {
    border-radius: 5px;
  }

  .TOC {
    padding-left: 20px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    padding-bottom: 100px;
  }
}
