/* general formatting */

a {
  text-decoration: underline;
  color: #000;
}

.back-to-top {
  padding-right: 30px;
}

.anch {
  position: absolute;
  top:-40px;
}

.take-anch {
  position: absolute;
  top:-60px;
}

/* table of contents formatting  */

.TOC {
  padding: 10px;
  padding-left:50px;
  padding-top: 25px;
  height: 500px;
  display: block;
  z-index: 0.95;
  margin: 20px;
  margin-top:10px;
  /* margin-bottom: 0; */
  background-color: white;
  box-shadow: -3px 0px 10px 0px #1c1c1c, 3px 0px 10px 0px #1c1c1c;
}

.TOC-heading {
  text-align: center;
  padding-right: 50px;
  font-family: Courier New;
  font-weight: 500;
  font-size: 18pt;
}

.TOC-title {
  margin-top: 40px;
  /* margin-left: 40px; */
  margin-bottom: 0;
  font-size: 14pt;
}

.TOC-list {
  list-style-type: lower-alpha;
  /* margin-left: 40px; */
  margin-top: 5px;;
  margin-bottom: 0;
}

.TOC-item {
  margin-bottom: 4px;
  font-size: 14pt;
}

.TOC span {
  margin-top: 0px;
  /* margin-left: 40px; */
  margin-bottom: 0;
  font-size: 14pt;
}


/* review formatting */

.review, .minor-review {
  position: relative;
  padding: 40px;
  padding-bottom: 160px;
  background-color: white;
  margin: 20px;
  margin-top: 0;
  box-shadow: -3px 0px 10px 0px #1c1c1c, 3px 0px 10px 0px #1c1c1c;
}

.review h1, .minor-review h1 {
  padding: 0;
  margin: 0;
}

.author {
  margin: 0;
  font-style: italic;
  margin-left: 10px;
}

.first {
  margin-top: 25px;
  margin-top:10px;
  margin-bottom: 0;
}

.review h4, .minor-review h4 {
  margin-top:10px;
  margin-bottom: 0;
}

.paragraph {
  margin: 0;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 5px;
  display: flex;
}

.first-paragraph {
  margin:0;
  padding:10px;
  padding-bottom: 5px;
  display:flex;
}

.quotation {
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin:0;
  font-style: italic;
}

.myTake {
  background-color:yellow;
  padding:5px;
  position: relative;
}

.myTake-link {
  background-color: yellow;
  float:right;
}

.premise-num {
  padding: 0;
  padding-right: 8px;
  margin: 0;
}

.premise-text {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.discussion-text {
  padding: 0;
  margin:0;
}

.inline-heading {
  padding: 0;
  font-weight:bold;
  padding-right: 8px;
  margin: 0;
}

@media(max-width:450px) {
  .review, .minor-review {
    margin-left: 0;
    margin-right:0;
    padding-right:15px;
    padding-left:25px;
  }

  .TOC {
    padding-left:20px;
    margin-left:0;
    margin-right:0;
    height:auto;
    padding-bottom: 100px;
  }

}
