<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/literature.css">
    <title>Long books</title>
  </head>
  <body>

    <nav class="main-nav" id="myTopnav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <!-- <li><a href="about.html">About</a>
        </li> -->
        <li class="nav-item dropdown"><a href="javascript:void(0)" class="nav-link">Blog</a>
          <div class="dropdown-content">
            <a class="dropdown-link dropbtn" href="russianLit.html">Russian Literature</a>
          <!-- <a href="onto.html">Ontology</a> -->
          <a class="dropdown-link dropbtn" href="poly.html">Political Philosophy</a>
          </div>
        </li>
      </ul>
      <span class="back-to-top"><a class="nav-link" href="#">Back to Top</a></span>
    </nav>


    <div class="container">
      <div class="TOC">
        <h2 class="TOC-heading">Table of Contents</h2>
        <div class="TOC-title"><strong>Long Books</strong></div>
        <div class="TOC-title">And whether to read them or not</div>
        <ul class="TOC-list">
          <li class="TOC-item"><a href="#Anna Karenina">Anna Karenina</a></li>
          <li class="TOC-item"><a href="#War A"></a></li>
          <li class="TOC-item"><a href="#secondTreatise">Don Quixote</a></li>
          <li class="TOC-item"><a href="#socialContract">War and Peace</a></li>
          <li class="TOC-item"><a href="#CivilDisobedience"></a></li>
          <li class="TOC-item"><a href="#">Reserved</a></li>
          <li class="TOC-item"><a href="#minorWorks">Minor Works</a></li>
        </ul>
        <span><strong>Links</strong></span>
      </div>

      <div class="review">
        <!-- this a link is the end point of the link in the table of contents-->
        <a name="" class="anch"></a>

        <!-- Title of Book -->
        <h1></h1>

        <!-- yellow link to the yellow "myTake section" // change href to name inputted below -->
        <div class="myTake-link">
          <a href="#myTake">My Take</a>
        </div>

        <!-- author's name -->
        <h3 class="author"></h3>

        <!-- rated difficulty // change color to etablished color for easy, moderate, hard or very hard -->
        <h4 style="color: #f56c42;">Difficulty: </h4>

        <!-- decription of author -->
        <h4 class="first">About the Author</h4>
        <div class="first-paragraph">
          <p class="discussion-text">&emsp; &emsp;</p>
        </div>

        <!-- writers, political leader and others who influenced or are influenced by the writer -->
        <div class="first-paragraph">
          <p class="inline-heading">Influenced by:</p>
          <p class="discussion-text"></p>
        </div>
        <div class="paragraph">
          <p class="inline-heading">Influenced:</p>
          <p class="discussion-text"></p>
        </div>

        <!-- one/two sentence description of work, separated by semicolon -->
        <h4 class="first">Briefest Summary of the Work</h4>
        <div class="first-paragraph">&emsp; &emsp;
        </div>

        <!-- Major points organized in a thoughtful way -->
        <h4>Major Points</h4>
        <div class="first-paragraph">
          <p class="premise-num"> 1. </p>
          <p class="premise-text"></p>
        </div>

        <!-- recommendation to read, thoughtful analysis, retelling of other's critiques and pointing out where the work influenced other work or is influenced by other work -->
        <h4 class="myTake">My Take</h4><a name="" class="take-anch"></a>
        <div class="first-paragraph">
          <p class="discussion-text">&emsp; &emsp;</p>
        </div>
        <div class="paragraph">
          <p class="discussion-text">&emsp; &emsp;</p>
        </div>


      </div>
